
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background: linear-gradient(135deg,wheat, gray);
}

#gallery-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 85px auto;
}



#gallery-container #back, #next{
    padding: 12px;
    cursor: pointer;
}

#gallery{
    display: flex;
    width: 900px;
    overflow-x: scroll;
}

#gallery div{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    flex: none;
}

#gallery div img{
    width: 100%;
    filter: grayscale(100%);
    transition: transform 0.5s;
}


#gallery div img:hover{
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.1);
}

#gallery::-webkit-scrollbar{
    display: none;
}






/* #gallery-container {
    width: 100%;
    overflow: hidden;
}

#gallery {
    white-space: nowrap;
}

.gallery-item {
    display: inline-block;
    margin-right: 10px;
}

img {
    max-width: 100%;
    height: auto;
}

#prev, #next {
    cursor: pointer;
    font-size: 24px;
} */