* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(123deg, #2fa56d, #796135);
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calender {
    display: flex;
    width: 23%;
    height: 31vh;
}
.calender .left{
    width: 58%;
    background-color: #fff;
    padding: 15px 0;
    font-size: 24px;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.calender .right{
    width: 40%;
    text-align: center;
    padding: 40px 10px;
    font-size: 25px;
    background: #FF5722;
    color: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.calender p{
    font-size: 30px;
    font-weight: 500;
}

#date{
    font-size: 100px;
    color: rgb(31, 24, 24);
}

#year{
    color: rgb(41, 35, 35);
    font-size: 50px;
    margin-top: 12px;
}