body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }



  .product-container {
    max-width: 800px;
    margin: 39px auto;
    padding: 20px;
    background-color: #f6eaea;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    position: relative;

  }

  .product-image {
    max-width: 100%;
    height: 80vh;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   
  }

.controls{
    position: absolute;
    right: 52%;
    bottom: 30px;
}

.controls .btn{
    width: 10px;
    height: 10px;
    background-color: rgb(182, 178, 178);
    border-radius: 50%;
    margin: 4px 0;
    cursor: pointer;
}

.btn.active{
    background-color: green;
}

  .product-details {
    text-align: left;
  }

  .product-details h2 {
    color: #333;
  }

  .product-details p {
    color: #777;
  }

  .price {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }

  .quantity-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .quantity-label {
    margin-right: 10px;
  }

  .quantity-input {
    width: 50px;
    padding: 5px;
    font-size: 16px;
  }

  .add-to-cart-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .add-to-cart-button:hover {
    background-color: #45a049;
  }