body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: top;
    transition: background-image 1s ease-in-out;
}

.container {
    text-align: center;
    color: #fff;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 12px;
    outline: none;
}
